# Monarch userspace startup policy.
# SPARK will prepare userspace and start Wing from /initrd/sys/bin/wing.elf.
# SHIFT during startup selects the Bush debugging path.
init=/initrd/sys/bin/spark.elf
wing=/initrd/sys/bin/wing.elf
